.dpLogoChange{
    /*Navigation Bar Animation on Scroll Logo changing Class*/
}

.center{
    text-align: center;
}

.dpLogo{
    width: 40%;
    transform: translate(0, -30%);
}

@media only screen and (max-width: 500px) {
    .dpLogo{
        width: 100%;
        transform: translate(0, -30%);
    }
}

@media only screen and (min-width: 1300px) {
    .dpLogo{
        width: 40%;
        transform: translate(0, -30%);
    }
}

@media only screen and (min-width: 2500px) {
    .dpLogo{
        width: 100%;
        transform: translate(0, -30%);
    }
}

.flask-bubbles .b0{
    background-image: url("../data/bubble/fb.png");
}

.flask-bubbles .b1{
    background-image: url("../data/bubble/flickr.png");
}

.flask-bubbles .b2{
    background-image: url("../data/bubble/in.png");
}

.flask-bubbles .b3{
    background-image: url("../data/bubble/instagram.png");
}

.flask-bubbles .b4{
    background-image: url("../data/bubble/myspace.png");
}

.flask-bubbles .b5{
    background-image: url("../data/bubble/printerest.png");
}

.flask-bubbles .b6{
    background-image: url("../data/bubble/reddit.png");
}

.flask-bubbles .b7{
    background-image: url("../data/bubble/StumbleUpon.png");
}

.flask-bubbles .b8{
    background-image: url("../data/bubble/tw.png");
}

.flask-bubbles .b9{
    background-image: url("../data/bubble/youtube.png");
}

.flask-bubbles .custombubble{
    right: 65px;
    transform: scale(0.4);
    opacity: 0.6;
    -webkit-animation: bubble 8s linear infinite,side 2s ease-in-out infinite alternate;
    -moz-animation: bubble 8s linear infinite,side 2s ease-in-out infinite alternate;
    -ms-animation: bubble 8s linear infinite,side 2s ease-in-out infinite alternate;
    animation: bubble 8s linear infinite,side 2s ease-in-out infinite alternate;
}

.flask-bubbles .bubble{
    background-repeat: no-repeat;
    background-size: cover;
}



#canvas_perticle_wave{
    position: absolute;
    background: white;
}


#bezier-curve {
    top: 0;
    left: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
.interactive-handle {
    top: 0%;
    height: 100%;
    position: absolute;
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}
.interactive-handle .novel-circle {
    left: 50%;
    top: 16.5%;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
    position: absolute;
    -webkit-transform: translate(-25%, 0%);
    -moz-transform: translate(-25%, 0%);
    -ms-transform: translate(-25%, 0%);
    -o-transform: translate(-25%, 0%);
    transform: translate(-25%, 0%);
}
.interactive-handle .novel-link {
    top: 50%;
    left: 50%;
    opacity: 0;
    color: #616161;
    cursor: pointer;
    font-size: 1.75vw;
    position: absolute;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 250ms 150ms linear;
    -moz-transition: all 250ms 150ms linear;
    -ms-transition: all 250ms 150ms linear;
    -o-transition: all 250ms 150ms linear;
    transition: all 250ms 150ms linear;
}

.comming-soon{
    width: 100%;
    height: 300px;
    background-image: url(../data/portfolio/mobile/comming.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-align: center;
}