.page-border.right ul {
    position: fixed;
    width: 25px;
    top: 50%;
    right: -6px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    padding-left: 0;
    list-style: none;
    -webkit-transition: top 0.5s,right 0.5s,left 0.5s,bottom 0.5s;
    -moz-transition: top 0.5s,right 0.5s,left 0.5s,bottom 0.5s;
    -ms-transition: top 0.5s,right 0.5s,left 0.5s,bottom 0.5s;
    -o-transition: top 0.5s,right 0.5s,left 0.5s,bottom 0.5s;
    transition: top 0.5s,right 0.5s,left 0.5s,bottom 0.5s;
}

.service_cubes{
    width: 100%;
    height: 500px;
}


/*FLIPPED BOX*/
/* Container box to set the sides relative to */
.cube {
    width: 250px;
    height: 100px;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
/* The two faces of the cube */
.default-state,
.active-state {
    height: 100px;
}
/* Position the faces */
.default-state {
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
}
.flip-to-top .active-state {
    -webkit-transform: rotateX(90deg) translateZ(150px);
    -moz-transform: rotateX(90deg) translateZ(150px);
    -ms-transform: rotateX(90deg) translateZ(150px);
    -o-transform: rotateX(90deg) translateZ(150px);
    transform: rotateX(90deg) translateZ(150px);
}
.flip-to-bottom .active-state {
    -webkit-transform: rotateX(-90deg) translateZ(-50px);
    -moz-transform: rotateX(-90deg) translateZ(-50px);
    -ms-transform: rotateX(-90deg) translateZ(-50px);
    -o-transform: rotateX(-90deg) translateZ(-50px);
    transform: rotateX(-90deg) translateZ(-50px);
}
/* Rotate the cube */
.cube.flip-to-top:hover {
    cursor: pointer;
    -webkit-transform: rotateX(-89deg);
    -moz-transform: rotateX(-89deg);
    -ms-transform: rotateX(-89deg);
    -o-transform: rotateX(-89deg);
    transform: rotateX(-89deg);
}
.cube.flip-to-bottom:hover {
    cursor: pointer;
    -webkit-transform: rotateX(89deg);
    -moz-transform: rotateX(89deg);
    -ms-transform: rotateX(89deg);
    -o-transform: rotateX(89deg);
    transform: rotateX(89deg);
}
/* END CORE CSS */
/* Demo styling */
.cube{
    text-align: center;
    position: absolute;
    top: 40%;
}

.cube_shadow{
    box-shadow: 0px 13px 10px rgba(0, 0, 0, 0.3);
}

.click_shadow{
    box-shadow: inset 0px 13px 10px rgba(0, 0, 0, 0.3);
}

.default-state,
.active-state {
    /*background: #d3effd;*/
    background: transparent;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    line-height: 100px;
    -webkit-transition: background 250ms ease;
    -moz-transition: background 250ms ease;
    -o-transition: background 250ms ease;
    transition: background 250ms ease;
}
.cube:hover .default-state {
    /*background: #a0dbf9;*/
    background: transparent;
}
.active-state {
    /*background: #a0dbf9;*/
    background: transparent;
}
#flipto {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    color: #ccc;
}

.service_button_left{
    left:2%;
}

.service_button_right{
    right:2%;
}

.service_button_bottom{
    top: 80%;
    left: 40%;
}

.smm{
    -ms-transform: rotate(-20deg); /* IE 9 */
    -webkit-transform: rotate(-20deg); /* Safari */
    transform: rotate(-20deg);
}

.web{
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    transform: rotate(20deg);
}

.mobile{
    /*-ms-transform: rotate(5deg); !* IE 9 *!*/
    /*-webkit-transform: rotate(5deg); !* Safari *!*/
    /*transform: rotate(5deg);*/
}

.smm .default-state, .smm .active-state{
    background: #fff;
    overflow: hidden;
}

.service_cubes div{
    border-radius: 8px;
}

.service_cubes h2{
    position: absolute !important;
    z-index: 100;
    opacity: 1.0;
}

.smm .default-state h2{
    bottom: 0%;
}
.smm .active-state h2{
    bottom: 58%;
}
.smm .default-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/social_h_d.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.smm .active-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/social_h_u.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.web .default-state h2{
    bottom: 0%;
}
.web .active-state h2{
    bottom: 58%;
}
.web .default-state, .web .active-state{
    background: #fff;
    overflow: hidden;
}
.web .default-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/web_h_d.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.web .active-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/web_h_u.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.mobile .default-state h2{
    bottom: 0%;
}
.mobile .active-state h2{
    bottom: 58%;
}
.mobile .default-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/mobile_h_d.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
.mobile .active-state:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url("../data/mobile_h_u.jpg");
    background-repeat: no-repeat;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}
/*FLIPPED BOX*/


/*SMM*/
.post-image img{
    width: auto !important;
}

.excerpt{
    font-size: 14px;
    font-weight: 500;
}


/*SMM ACCORDION*/
@font-face {
    font-family: "JF Flat Regular";
    src: url("https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot");
    src: url("https://f9ir.github.io/acc/acc/font/JF-Flat-regular.eot?#iefix") format("embedded-opentype"), url("https://f9ir.github.io/acc/acc/font/JF-Flat-regular.svg#JF Flat Regular") format("svg"), url("https://f9ir.github.io/acc/acc/font/JF-Flat-regular.woff") format("woff"), url("https://f9ir.github.io/acc/acc/font/JF-Flat-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    background: #f6704b;
}

* {
    margin: 0;
    padding: 0;
}

.accordion {
    margin: 50px auto;
    /*width: 380px;*/
    width: 100%;
    background: transparent;;
    cursor: pointer;
}
.accordion .item {
    /*height: 100px;*/
    height: 80px;
}
.accordion .item h2{
    font-size: 16px;
}
.accordion .item h3 {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    padding-left: 50px;
    font-family: "JF Flat Regular";
    font-size: 20px;
    font-weight: 400;
}
.accordion .item img {
    padding-left: 15px;
    width: 30px;
    vertical-align: middle;
}
.accordion .item h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
.accordion .details {
    width: 100%;
    font-family: "JF Flat Regular";
    font-size: 18px;
    font-weight: 400;
    padding: 15px;
    display: none;
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.2);
}

/*FIRST ACCORDION*/
#one .accordion .item:first-of-type {
    background: #f5e1f9;
    color: #f4ce74;
}
#one .accordion .item:nth-of-type(2) {
    background: #f4d1fb;
    color: #ffe9c1;
}
#one .accordion .item:nth-of-type(3) {
    background: #f9eac7;
    color: #620808;
}
#one .accordion .item:nth-of-type(4) {
    background: #f9f0dc;
    color: #d5441c;
}
#one .accordion .item:last-of-type {
    /*background: #fffcf5;*/
    background: #faeac3;
    color: #ffe9c1;
}

#one .accordion .details:first-of-type {
    background: #f5e1f9;
    color: #620808;
}
#one .accordion .details:nth-of-type(2) {
    background: #f5e1f9;
    color: #620808;
}
#one .accordion .details:nth-of-type(3) {
    background: #f9eac7;
    color: #620808;
}
#one .accordion .details:nth-of-type(4) {
    background: #f9f0dc;
    color: #620808;
}
#one .accordion .details:last-of-type {
    /*background: #fffcf5;*/
    background: #faeac3;
    color: #620808;
}
/*FIRST ACCORDION*/

/*SCEOND ACCORDION*/
#two .accordion .item:first-of-type {
    /*background: #f7c54f;*/
    background: #f9e3af;
    color: #f4ce74;
}
#two .accordion .item:nth-of-type(2) {
    background: #f7dc9c;
    color: #ffe9c1;
}
#two .accordion .item:last-of-type {
    background: #f6d588;
    color: #ffe9c1;
}

#two .accordion .details:first-of-type {
    background: #f9e3af;
    color: #620808;
}
#two .accordion .details:nth-of-type(2) {
    background: #f7dc9c;
    color: #620808;
}
#two .accordion .details:last-of-type {
    background: #f6d588;
    color: #620808;
}
/*SCEOND ACCORDION*/


/*THIRD ACCORDION*/
#three .accordion .item:first-of-type {
    background: #f4ce74;
    color: #f4ce74;
}
#three .accordion .item:nth-of-type(2) {
    background: #f3c760;
    color: #ffe9c1;
}
#three .accordion .item:last-of-type {
    background: #96ccd6;
    color: #ffe9c1;
}

#three .accordion .details:first-of-type {
    background: #f4ce74;
    color: #620808;
}
#three .accordion .details:nth-of-type(2) {
    background: #f3c760;
    color: #620808;
}
#three .accordion .details:last-of-type {
    background: #c9dee2;
    color: #620808;
}
/*THIRD ACCORDION*/

.accordion .details .panel-heading{
    background: rgba(171, 235, 255, 0.38);
}
.accordion .details ul li{
    background-color: transparent;
    font-size: 16px;
}

.accordion .details .panel-footer{
    font-size: 12px;
    color: #000;
}

/*SMM ACCORDION*/

/*WEB ACCORDION*/

#web_pricing .accordion .item{
    background: rgba(255, 255, 255, 0.54);
    color: #f4ce74;
    border-radius: 4px;
}
/*WEB ACCORDION*/