.blue{
    color:#3b579d !important;
}

.gray{
    /*color:#e4e4e4 !important;*/
    color: #c3c3c3 !important;
}

.dm_trailler_container{
    background: white;
}

.layout-boxed{
    /*padding-top: 100px;*/
}

.process{
    word-wrap: normal !important;
}

.thumbnail{
    width:100%;
    margin:auto;
}

.process #full-team {
    clear: both;
    position: relative;
    background-repeat: no-repeat
}

 .process #full-team article {
    position: relative;
    float: left;
    width: 33.33333333333333%;
    background-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-right: 1px solid #fff;
}

 .process #full-team article .hover {
    background: transparent url(../images/team-hover.png) 0 0;
    display: none;
    width: 193px;
    height: 193px;
    left: 7px;
    top: -182px;
    position: absolute;
    -webkit-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out
}

 .process #full-team article a {
    width: 100%;
    display: block;
    height: 100%;
    text-align: center
}

 .process #full-team article a i.line {
    background-color: #fff;
    display: block;
    height: 1px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    opacity: 0;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out
}

 .process #full-team article a span {
    z-index: 10;
    opacity: 0;
    position: absolute;
    top: 49%;
    color: white;
    left: 0;
    width: 100%;
    padding: 0 5%
}

 .process .mask-team article.member figure.thumbnail img{
     width: 100%;
     height: 100%;
 }

 .process #full-team article a span.fname {
    text-transform: uppercase;
    margin-top: -30px;
    font-size: 15px;
    font-family: "pill-gothic-300mg", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 25px
}

 .process #full-team article a span.position {
    font-family: "kepler-std-semicondensed-cap", serif;
    font-style: normal;
    font-weight: 300;
    margin-top: 13px;
    font-size: 14px;
    line-height: 14px
}

 .process #full-team article a:hover i.line {
    opacity: 1;
    width: 30px;
    margin-left: -15px
}

 .process #full-team article a:hover span {
    opacity: 1
}

 .process #full-team article a:hover figure {
    opacity: .2
}

 .process #full-team article:hover {
    opacity: 1
}

 .process #full-team article:nth-child(3n) {
    border-right: 0
}

 .process #full-team .close {
    display: none
}

 .process .info-team {
    z-index: 500;
    background: #ffffffd9;
    display: none;
    position: absolute;
    right: 0;
    top: 0
}

 .process .info-team .profile {
    display: none
}

 .process .info-team .profile ul {
    margin-bottom: 45px
}

 .process .info-team .profile ul li {
    list-style: none;
    font-family: "pill-gothic-300mg", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    font-size: 2.625em;
    text-transform: uppercase;
    color: #000
}

.process #full-team .info-team .profile ul li:before {
    content: none;
}

 .process .info-team .profile ul li:nth-child(3n) {
    font-family: "pill-gothic-300mg", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #e4e4e4
}

 .process .info-team .profile ul li:last-child {
    width: 63px;
    height: 3px;
    display: block;
    /*background-color: #ffcf01;*/
    background-color: #ba815b;
    margin: 27px 0
}

 .process .info-team .profile ul li span.yellow {
    color: #ffcf01
}

 .process .info-team .profile blockquote {
    background: #f3f1f1;
    font-family: "kepler-std-semicondensed-cap", serif;
    font-style: italic;
    font-weight: 300;
    position: relative;
    max-width: 350px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 0 37px 0
}

 .process .info-team .profile blockquote:before {
     content: none;
    /*width: 17px;*/
    /*height: 12px;*/
    /*content: " ";*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*background: transparent url(../images/sprite.png) -252px -7px no-repeat*/
}

 .process .info-team .profile blockquote:after {
     content: none;
    /*width: 37px;*/
    /*height: 17px;*/
    /*content: " ";*/
    /*position: absolute;*/
    /*background: transparent url(../images/sprite.png) -242px -22px no-repeat*/
}

 .process .info-team .profile .spotify {
    max-height: 191px;
    overflow: hidden;
    margin-bottom: 30px
}

@media(min-width:481px) {
     #hero {
        height: 300px
    }
     #hero div {
        height: 300px
    }
     #hero div p {
        width: 80%;
        font-size: 170%;
        margin: 110px auto 0;
        line-height: 100%
    }
     .process #full-team article a span {
        /*width: 70%;*/
        padding: 0 15%;
        font-size: 1.2em
    }
     .process #full-team article a span.fname {
        font-size: 1.2em
    }
     .process #full-team article a span.position {
        line-height: 14px;
        font-size: 1em
    }
}

@media(min-width:768px) {
     #hero {
        height: 400px
    }
     #hero div {
        height: 400px
    }
     #hero div p {
        width: 80%;
        font-size: 230%;
        margin: 130px auto 0;
        line-height: 110%
    }
     .process #full-team {
        margin: 0 auto;
        width: 770px;
        background-position: 0 0;
        padding-bottom: 50px;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out
    }
     .process #full-team .mask-team {
        overflow: hidden;
        padding: 69px 0 50px 28px;
        background: transparent url(../images/team-mask-small.png) 0 0 no-repeat
    }
     .process #full-team .info-team {
        left: 0;
        top: 720px;
        position: absolute
    }
     .process #full-team .info-team .profile {
        width: 400px;
        position: relative;
        margin: 0 auto
    }
     .process #full-team .info-team .profile ul li {
        text-align: center
    }
     .process #full-team .info-team .profile ul li:last-child {
        margin: 27px auto
    }
     .process #full-team .info-team .profile blockquote {
        text-align: center;
        font-size: 150%;
        font-family: "kepler-std-semicondensed-cap", serif;
        font-style: normal;
        font-weight: 500;
        width: 100%
    }
     .process #full-team .info-team .profile blockquote:after {
        right: 0;
        position: absolute;
        background-position: -233px -22px
    }
     .process #full-team .info-team .profile h3 {
        text-align: center
    }
     .process #full-team .info-team .profile .spotify {
        max-height: 191px;
        padding-left: 55px
    }
     .process #full-team .close {
        display: none;
        width: 135px;
        height: 135px;
        background-color: #6f6f6f;
        text-align: center;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        overflow: hidden;
        left: 124px;
        z-index: 10;
        top: 606px
    }
     .process #full-team .close a {
        position: relative;
        width: 135px;
        height: 135px;
        display: inline-block;
        display: block;
        text-indent: -999em;
        overflow: hidden;
        background-repeat: no-repeat;
        text-align: left;
        direction: ltr;
        top: 0;
        left: 0
    }
     .process #full-team .close a i {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        display: inline-block;
        width: 135px;
        height: 135px;
        position: absolute;
        line-height: 18px;
        top: 0;
        left: 0;
        vertical-align: text-top;
        background-image: url(../images/white-cross.png);
        background-position: center center;
        background-repeat: no-repeat
    }
     .process #full-team .close a span {
        position: absolute;
        text-indent: 0;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 43%;
        color: white;
        text-transform: uppercase;
        font-family: "proxima-nova", sans-serif;
        font-style: normal;
        font-weight: 300;
        left: 45%;
        opacity: 0;
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out
    }
     .process #full-team .close:hover a i {
        top: -6px;
        left: -6px
    }
     .process #full-team .close:hover span {
        opacity: 1;
        top: 51%;
        left: 47%
    }
     .process #full-team article {
        width: 135px;
        height: 135px;
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        -webkit-background-size: auto 173px;
        -moz-background-size: auto 173px;
        -ms-background-size: auto 173px;
        -o-background-size: auto 173px;
        float: left;
        margin: 25px 5px;
        text-align: center;
        zoom: 1;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        overflow: hidden;
        margin: 0;
        margin-right: 57px;
        margin-top: -39px;
        position: relative;
        border: 0;
        -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
        -webkit-transition-delay: .9s;
        transition-delay: .9s
    }
     .process #full-team article .hover {
        display: block
    }
     .process #full-team article:nth-child(7),
     .process #full-team article:nth-child(14),
     .process #full-team article:nth-child(21) {
        margin-right: 0
    }
     .process #full-team article:first-child,
     .process #full-team article:nth-child(8),
     .process #full-team article:nth-child(15),
     .process #full-team article:nth-child(22) {
        margin-left: 96px
    }
     .process #full-team article:hover {
        background-color: #000;
        border: 5px solid #ba815b;
        -webkit-transition: border 200ms ease-in-out;
        transition: border 200ms ease-in-out
    }
     .process #full-team article:hover .hover {
        top: 9px
    }
     .process #full-team article a {
        display: block;
        width: 150%;
        height: 150%;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        position: absolute;
        top: -36px;
        left: -38px;
        transform: rotate(-45deg)
    }
     .process #full-team article a i.line {
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
        opacity: 1;
        width: 0
    }
     .process #full-team article a span {
        top: 94px;
        /*width: 54%;*/
        padding: 0 23%
    }
     .process #full-team article a span.fname {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transition-delay: 0;
        transition-delay: 0;
        left: -150px;
        font-size: 1.2em;
        opacity: 1
    }
     .process #full-team article a span.position {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out;
        -webkit-transition-delay: 0;
        transition-delay: 0;
        font-size: 1em;
        opacity: 1;
        left: auto;
        right: -150px
    }
     .process #full-team article a figure img {
        -webkit-transition: all 200ms ease-in-out;
        transition: all 200ms ease-in-out
    }
     .process #full-team article a:hover i.line {
        -webkit-transition-delay: .4s;
        transition-delay: .4s
    }
     .process #full-team article a:hover span.fname {
        left: 0;
        -webkit-transition-delay: .25s;
        transition-delay: .25s
    }
     .process #full-team article a:hover span.position {
        right: 0;
        -webkit-transition-delay: .3s;
        transition-delay: .3s
    }
     .process #full-team article a:hover figure {
        opacity: .3
    }
     .process #full-team article a.team135 span.fname,
     .process #full-team article a.team129 span.fname {
        font-size: 1em
    }
     .process #full-team.open .close {
        display: block
    }
     .process #full-team.open .mask-team article a .hover,
     .process #full-team.open .mask-team article a span {
        visibility: hidden
    }
     .process #full-team.openHover {
        padding-bottom: 590px
    }
     .process #full-team.openHover .mask-team article {
        border: 0
    }
     .process #full-team.openHover .mask-team article a {
        cursor: default
    }
     .process #full-team.openHover .mask-team article a .hover,
     .process #full-team.openHover .mask-team article a span {
        visibility: hidden
    }
     .process #full-team.openHover .mask-team article a i.line {
        display: none
    }
     .process #full-team.openHover .mask-team article.cropShow {
        border-right: 2px solid #fff;
        border-bottom: 2px solid #fff
    }
     .process #full-team.openHover .mask-team article:nth-child(19).cropShow,
     .process #full-team.openHover .mask-team article:nth-child(20).cropShow {
        border-bottom: 0
    }
     .process #full-team.openHover .mask-team article:nth-child(8),
     .process #full-team.openHover .mask-team article:nth-child(15) {
        border-bottom: 0
    }
     .process #full-team.openHover .mask-team article:nth-child(19),
     .process #full-team.openHover .mask-team article:nth-child(17),
     .process #full-team.openHover .mask-team article:nth-child(10),
     .process #full-team.openHover .mask-team article:nth-child(20) {
        border-right: 0
    }
}

@media(min-width:980px) {
     #hero {
        height: 500px
    }
     #hero div {
        height: 500px
    }
     #hero div p {
        width: 60%;
        font-size: 260%;
        margin: 170px auto 0;
        line-height: 120%
    }
}

@media(min-width:1200px) {
     #hero {
        height: 500px
    }
     #hero div {
        height: 500px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover
    }
     #hero div p {
        width: 60%;
        font-size: 260%;
        margin: 200px auto 0
    }
     .process {
        padding-bottom: 60px
    }
     .process #full-team {
        width: 1157px;
        padding-bottom: 0;
        background-position: 0 center
    }
     .process #full-team .close {
        left: 28px;
        top: 28px
    }
     .process #full-team .info-team {
        top: 0;
        left: inherit;
        right: 0
    }
     .process #full-team .info-team .profile ul li {
        text-align: left
    }
     .process #full-team .info-team .profile ul li:last-child {
        margin: 27px 0
    }
     .process #full-team .info-team .profile blockquote {
        text-align: left
    }
     .process #full-team .info-team .profile blockquote:after {
        right: inherit
    }
     .process #full-team .info-team .profile h3 {
        text-align: left
    }
     .process #full-team .info-team .profile .spotify {
        padding-left: 0
    }
     .process #full-team .mask-team {
        padding-left: 28px;
        background: transparent url(../images/team-mask.png) 0 0 no-repeat
    }
     .process #full-team article:nth-child(7),
     .process #full-team article:nth-child(14),
     .process #full-team article:nth-child(21) {
        margin-right: 57px
    }
     .process #full-team article:first-child,
     .process #full-team article:nth-child(8),
     .process #full-team article:nth-child(22) {
        margin-left: 0
    }
     .process #full-team article:first-child,
     .process #full-team article:nth-child(21) {
        margin-left: 192px
    }
     .process #full-team article:nth-child(5),
     .process #full-team article:nth-child(16) {
        margin-left: 96px
    }
     .process #full-team article:nth-child(15) {
        margin-left: 0;
        margin-right: 0
    }
     .process #full-team.openHover {
        padding-bottom: 0
    }
     .process #full-team.openHover .mask-team article:nth-child(8),
     .process #full-team.openHover .mask-team article:nth-child(15) {
        border-bottom: 2px solid #fff
    }
     .process #full-team.openHover .mask-team article:nth-child(19),
     .process #full-team.openHover .mask-team article:nth-child(17),
     .process #full-team.openHover .mask-team article:nth-child(10),
     .process #full-team.openHover .mask-team article:nth-child(20) {
        border-right: 2px solid #fff
    }
}