.wcu_header{
    background:#f7f7f7;
    /*background:transparent;*/
}

.wcu{
    /*background: url("../images/bg-stocksnap-3F7D411CC8.jpg") no-repeat center;*/
    background: transparent;
}

.our-values{
    margin: 0 auto !important;
}

.our-values .value:before{
    display: block;
    content: '';
    position: relative;
    left: 50%;
    width: 130px;
    margin-left: -65px;
    bottom: 0;
    height: 1px;
    background: #f26f70;
}

.our-values .value .word{
    text-align: center;
    color: #333;
    margin: 0 0 10px;
    letter-spacing: 2.5px;
    font-size: 5em;
    padding: 0;
}

.our-values .value .description{
    text-align: center;
}

@media (min-width: 770px) {
    .our-values .value .word {
        font-size: 5em;
    }
}

@media (min-width: 320px) {
    .our-values .value .word {
        font-size: 3em;
    }
}